<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Client test">
            <directory>./tests/generated</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="bearerToken" value="" />
        <env name="apiBaseUrl" value="" />
    </php>
</phpunit>